.idea/
data/
__pycache__/
*.pyc
*.tar.gz
*.h5
*.parquet
/figures/fig7_frame_control.svg
/figures/fig3_entity_space.svg
/figures/fig4_posebusters.png
/figures/fig7_frame_control.png
/figures/fig8_support.png
/figures/fig5_rmsd.svg
/figures/fig4_posebusters.svg
/figures/fig8_support.svg
/figures/fig2_coverage.png
/figures/fig2_coverage.svg
/figures/fig3_entity_space.png
/figures/fig6_reliability.png
/figures/fig6_reliability.svg
/figures/fig5_rmsd.png
/figures/fig1_workflow.svg
/figures/fig1_workflow.png
